:root {
  --hover-grey: rgba(79, 80, 89, 0.15);
}

/* unset styles, we do not want */
h1, h2 {
  margin: unset;

  word-break: keep-all;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.invisible {
  display: none;
}

/* common styling for tab list and header */
header, .listContent {
  display: flex;
  align-items: center;
}
.favicon {
  margin-right: 4px;
}

/* custom styling for header */
.actionButton {
  margin-right: 8px;
  padding: 4px;

  border-radius: 4px;
  cursor: pointer;

  box-sizing: content-box;
}
.actionButton:hover {
  background-color: var(--hover-grey);
}

header {
  padding: 8px;

  border: 2px solid;
  border-image: repeating-linear-gradient(to left, rgb(189, 235, 8), rgb(207, 235, 8) 10px, rgb(189, 235, 8)) 1;
  border-image-width: 0 0 2px 0;
}
h1 {
  font-size: 1.2em;
  font-weight: bold;
}

/* actual body/content */
main {
  padding: 8px;
}

/* tab list style */
.tabelement {
  /* intendation */
  margin-left: 8px;

  /* padding for hover */
  padding: 4px;

  border-radius: 4px;

  cursor: pointer;
}
.tabelement:hover {
  background-color: var(--hover-grey);
  text-decoration: underline;

  color: rgb(33, 41, 0);
}
.tabelement:hover img {
  /* change color of image to green */
  /* thx https://stackoverflow.com/questions/27999597/css-filter-to-make-elements-one-color#39392662 */
  filter: grayscale(100%) sepia(100%) hue-rotate(50deg);
}

.hiddenTab {
  opacity: 0.7;
}

h2 {
  /* unset usual style */
  font-weight: normal;

  font-size: 1em;
}

.templates {
  display: none;
}
